.accordion {
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}
.accordion:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.32);
}
.accordion--active .accordion__trigger > a,
.accordion--active .accordion__trigger > button {
  pointer-events: none;
}
.accordion__trigger {
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.accordion__trigger__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.32);
}
.accordion__trigger__icon::after,
.accordion__trigger__icon::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 0.1rem;
  top: 0.7rem;
  background-color: rgba(255, 255, 255, 0.32);
  left: 0.4rem;
  transition: all 0.3s;
}
.accordion__trigger__icon::before {
  transform: rotate(90deg);
}
.accordion__trigger__icon--collapsed {
  background-color: #ffffff;
}
.accordion__trigger__icon--collapsed::before,
.accordion__trigger__icon--collapsed::after {
  background-color: #f37120;
}
.accordion__trigger__icon--collapsed::before {
  transform: rotate(0);
}
.accordion__content {
  display: none;
}
