.share-form {
  width: 39.3rem;
}
.share-form .brand-input--textarea {
  margin-bottom: 0;
}
.share-form__title {
  text-transform: uppercase;
}
.share-form__form-title {
  font-family: 'miller-display', serif;
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-top: 1.5rem;
  font-weight: 700;
}
.share-form__community-details {
  margin-top: 1.5rem;
  line-height: 0.8;
}
.share-form__header-wrapper {
  display: flex;
}
.share-form__header-wrapper button:after,
.share-form__header-wrapper button:before {
  background-color: #999999;
}
.share-form__bottomHr {
  margin-bottom: 0;
}
.share-form__form {
  margin-top: 3rem;
}
.share-form__description {
  font-size: 1.4rem;
  font-weight: 300;
}
.share-form__description p {
  margin: 0;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
}
.share-form__info-text {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.025rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
}
.share-form__policy {
  color: #575759;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 1.5rem 0;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
.share-form__submit-button {
  display: flex;
  justify-content: center;
}
.share-form__submit-button button {
  width: 45%;
}
.share-form__d-none {
  display: none;
}
.share-form__floorplan-text {
  display: block;
  font-size: 1.2rem;
  color: #55758e;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.share-form__floorplan-name {
  display: block;
  font-size: 1.6rem;
}
.share-form__floorplan-wrapper {
  line-height: 1.5;
}
.share-form__unit-text {
  display: block;
  font-size: 1.2rem;
  color: #55758e;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.share-form__unit-name {
  display: block;
  font-size: 1.6rem;
}
.share-form__unit-wrapper {
  line-height: 1.5;
}
.share-form__community-text {
  display: block;
  font-size: 1.2rem;
  color: #55758e;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.share-form__community-text-name {
  font-size: 2.2rem;
  line-height: 2.2;
  color: #1c2a33;
  letter-spacing: 0.6px;
  font-family: 'miller-display', serif;
}
.share-form__community-text-address {
  font-family: 'miller-display', serif;
}
.share-form__loader {
  position: relative;
  margin-top: 20rem;
}
.share-form__loader .spinner {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto;
}
.share-form__section {
  display: none;
  min-height: 15rem;
  opacity: 0;
  transition: all 0.2s linear;
}
.share-form__section--show {
  display: block;
}
.share-form__section--make-visible {
  opacity: 1;
}
.share-form__processing-message {
  text-align: center;
}
.share-form__failed-close {
  text-align: right;
  margin-bottom: 2rem;
}
.share-form__failed {
  width: 30rem;
}
.share-form__failed .share-form__title {
  color: #c70000;
}
@media screen and (max-width: 991px) {
  .share-form {
    width: 90%;
    margin: 0 auto;
  }
}
.share-form.cq-Editable-dom {
  min-width: 90%;
  min-height: 42px;
}
