/*---======<<< STICKY NAV >>>======---*/
/*---=======<<< GLOBAL >>>======---*/
.aem-AuthorLayer-Edit .sticky-header {
  display: block;
  position: static;
}
.hide {
  display: none !important;
}
#sticky-header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 101;
  top: 6rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: top 0.3s linear;
  transition-delay: 0.1s;
}
@media screen and (min-width: 576px) {
  #sticky-header {
    top: 8rem;
  }
}
#sticky-header.sticky-header--transformed {
  top: 0;
  transition-delay: 0s;
}
#sticky-header .sticky-header {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
#sticky-header .sticky-header__community-id {
  display: none;
}
#sticky-header .sticky-header__row {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
#sticky-header .sticky-header__title {
  max-width: 29rem;
}
#sticky-header .sticky-header__title-heading {
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
#sticky-header .sticky-header__links-wrap {
  padding: 0;
  border-bottom: none;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  /* Smooth scroll on iOS */
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* Firefox */
}
#sticky-header .sticky-header__links-wrap::-webkit-scrollbar {
  display: none;
  /* Safari & Chrome */
}
#sticky-header .sticky-header__links {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#sticky-header .sticky-header__link-elem {
  flex: 0 0 auto;
  scroll-snap-align: start;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
  text-transform: uppercase;
  padding-top: 1rem;
  display: inline-block;
  margin: 0;
  margin-left: 2.5rem;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #1c2a33;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid transparent;
}
#sticky-header .sticky-header__link-elem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background-color: #f37120;
  transition: all 0.2s;
}
#sticky-header .sticky-header__link-elem--active {
  color: #f37120;
}
#sticky-header .sticky-header__link-elem--active::after {
  width: 100%;
}
@media (hover: hover), (-ms-high-contrast:none) {
  #sticky-header .sticky-header__link-elem:hover {
    color: #f37120;
  }
  #sticky-header .sticky-header__link-elem:hover::after {
    width: 100%;
  }
}
#sticky-header .sticky-header__close-icon {
  display: none;
}
#sticky-header .sticky-header__current-title {
  display: none;
}
body.modal-open #sticky-header,
body.hide-overflow #sticky-header {
  z-index: 100;
}

body.modal-open .community-sub-page,
body.nav-push-left .community-sub-page,
body.hide-overflow .community-sub-page,
body.modal-open .community-page,
body.nav-push-left .community-page,
body.hide-overflow .community-page,
body.modal-open .community-pages,
body.nav-push-left .community-pages,
body.hide-overflow .community-pages,
body.modal-open .content,
body.nav-push-left .content,
body.hide-overflow .content,
body.modal-open .community-sub-page-section,
body.nav-push-left .community-sub-page-section,
body.hide-overflow .community-sub-page-section,
body.modal-open .community-subpage,
body.nav-push-left .community-subpage,
body.hide-overflow .community-subpage,
body.modal-open .community-subpages,
body.nav-push-left .community-subpages,
body.hide-overflow .community-subpages,
body.modal-open .community-sub-page,
body.nav-push-left .community-sub-page,
body.hide-overflow .community-sub-page,
body.modal-open .collections-sub-page,
body.nav-push-left .collections-sub-page,
body.hide-overflow .collections-sub-page {
  z-index: auto !important;
}
body.mg-modal-open.modal-open .nav__bar,
body.mg-modal-open.modal-open #sticky-header {
  z-index: 10 !important;
}
#sticky-header .sticky-header__close-btn {
  padding: 0;
  border: none !important;
  background-color: transparent !important;
  width: 2.8rem;
  height: 2.8rem;
  box-shadow: none !important;
  outline: none !important;
}

