.fapt-pagination {
  text-align: center;
  margin-bottom: 3.8rem;
}
.fapt-pagination__cta {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15rem;
  color: #1c2a33;
}
@media screen and (min-width: 576px) {
  .fapt-pagination__cta--last {
    margin-left: 3.3rem;
  }
}
@media screen and (min-width: 992px) {
  .fapt-pagination__cta--last {
    margin-left: 7.8rem;
  }
}
@media screen and (min-width: 3300px) {
  .fapt-pagination__cta {
    border-bottom-width: 4px;
  }
}

.fapt-no-res {
  text-align: center;
  margin-bottom: 4.5rem;
}
.fapt-no-res__sub-title {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 500;
}
.fapt-no-res h2 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 500;
}

.fapt-fp-unit {
  position: relative;
  padding: 4.2rem 2.4rem 3rem 2.4rem;
  margin-right: -2.4rem;
  margin-left: -2.4rem;
  border-top: 1px solid #ebebeb;
  color: #1c2a33;
}
.fapt-fp-unit__remodeled-badge,
.fapt-fp-unit__reduce-price-badge {
  font-weight: 700;
  border-radius: 1.2rem;
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: 0.083rem;
  padding: 1rem 1.5rem;
  display: inline-block;
  background-color: #5383b6;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2rem;
}
.fapt-fp-unit__reduce-price-badge {
  background-color: #f37120;
}
.fapt-fp-unit__share-form-container {
  padding-left: 0.5rem;
}
.fapt-fp-unit__spl-badge.fapt-fp-special-link {
  left: 2.4rem;
}
.fapt-fp-unit__column {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.fapt-fp-unit__column--unit-name {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.1rem;
}
.fapt-fp-unit__column--beds-baths {
  font-weight: 600;
  margin-bottom: 0.1rem;
}
.fapt-fp-unit__column--price-term {
  letter-spacing: -0.03rem;
}
.fapt-fp-unit__column--available {
  margin-bottom: 0.8rem;
}
.fapt-fp-unit__column--amenities {
  margin-bottom: 1.8rem;
  line-height: 2.4rem;
}
.fapt-fp-unit__column--view-on-map {
  margin-bottom: 1.8rem;
}
.fapt-fp-unit__mob-btn {
  display: block;
  width: 100%;
}
.fapt-fp-unit__available-today-text {
  font-weight: 600;
}
.fapt-fp-unit__disclaimer {
  display: block;
  font-size: 1rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  color: #575759;
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .fapt-fp-unit__mob-btn {
    max-width: 22.9rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .fapt-fp-unit__table-row {
    display: flex;
    flex: 1;
    margin-left: -3.2rem;
    margin-right: -3.2rem;
    padding: 0;
  }
  .fapt-fp-unit__table-row--last {
    border-bottom: 1px solid #ebebeb;
  }
  .fapt-fp-unit__table-row--headings {
    background-color: #c7d3dc;
  }
  .fapt-fp-unit__table-row:not(.fapt-fp-unit__table-row--headings) .fapt-fp-unit__column:nth-child(odd):not(.fapt-fp-unit__column--cta) {
    background-color: #f9fafb;
  }
  .fapt-fp-unit__column-inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .fapt-fp-unit__column-inner--unit-name {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .fapt-fp-unit__column-inner--amenities {
    justify-content: flex-start;
  }
  .fapt-fp-unit__remodeled-text,
  .fapt-fp-unit__reduced-price-text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    color: #55758e;
    display: block;
    text-transform: uppercase;
    width: 100%;
    margin-top: 1.1rem;
  }
  .fapt-fp-unit__reduced-price-text {
    color: #f37120;
  }
  .fapt-fp-unit__column {
    margin: 0;
    padding: 0;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .fapt-fp-unit__column--unit-name {
    padding-left: 3.7rem;
    width: 18%;
    font-weight: 700;
    text-align: left;
  }
  .fapt-fp-unit__column--term {
    width: 7%;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
  .fapt-fp-unit__column--price {
    width: 8%;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
  }
  .fapt-fp-unit__column--available {
    width: 11%;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0;
  }
  .fapt-fp-unit__column--amenities {
    width: 22%;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    text-align: left;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .fapt-fp-unit__column--view-on-map {
    width: 11%;
  }
  .fapt-fp-unit__column--cta {
    width: 23%;
  }
  .fapt-fp-unit__column--cta .pill-btn {
    white-space: nowrap;
    max-width: 20rem;
  }
  .fapt-fp-unit__column--is-last {
    padding-right: 2.5rem;
  }
  .fapt-fp-unit__column--heading {
    font-weight: 700;
    color: #1c2a33;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
  }
  .fapt-fp-unit__column--heading.fapt-fp-unit__column--amenities {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .fapt-fp-unit__unit-name-text {
    display: block;
    width: 100%;
  }
  .fapt-fp-unit__column-unit-name--has-spl-offer {
    padding-top: 3.5rem;
  }
  .fapt-fp-unit__table-footer {
    overflow: hidden;
    margin-left: -3.2rem;
    margin-right: -3.2rem;
  }
  .fapt-fp-unit__table-footer-text {
    margin: 0;
    padding: 2.2rem 2.4rem 2.2rem 0.8rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: -0.024rem;
    color: #1c2a33;
    width: 23%;
    float: right;
  }
  .fapt-fp-unit__collection--hide-pricing .fapt-fp-unit__column--unit-name {
    width: 25%;
  }
  .fapt-fp-unit__collection--hide-pricing .fapt-fp-unit__column--term {
    width: 15%;
  }
  .fapt-fp-unit__collection--hide-pricing .fapt-fp-unit__column--available {
    width: 15%;
  }
  .fapt-fp-unit__collection--hide-pricing .fapt-fp-unit__column--amenities {
    width: 30%;
  }
  .fapt-fp-unit__collection--hide-pricing .fapt-fp-unit__column--view-on-map {
    width: 15%;
  }
}
@media screen and (max-width: 991px) {
  .fapt-fp-unit__collection {
    position: relative;
  }
  .fapt-fp-unit__share-form-container {
    position: absolute;
    top: 8rem;
    right: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .fapt-fp-unit__table-row {
    margin-left: 0;
    margin-right: 0;
  }
  .fapt-fp-unit__table-footer {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 3300px) {
  .fapt-fp-unit__column {
    font-size: 1.17647059rem;
  }
  .fapt-fp-unit__column--heading {
    font-size: 0.82352941rem;
  }
  .fapt-fp-unit__column--unit-name {
    padding-left: 2.64705882rem;
  }
}

.fapt-fp-special-link {
  position: absolute;
  z-index: 2;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #1c2a33;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  width: 10rem;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.072rem;
  font-size: 1rem;
  line-height: 1.6rem;
  cursor: pointer;
  padding: 0.4rem 0;
  box-shadow: 0 1px 4px rgba(28, 42, 51, 0.8);
}
.fapt-fp-special-link--center-align {
  left: 50%;
  transform: translateX(-50%);
}

.fapt-fp-modal {
  text-align: center;
}
.fapt-fp-modal__content {
  background-color: #ffffff;
  padding-top: 9.6rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.fapt-fp-modal__content::before {
  background: transparent !important;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  height: 7rem;
}
.fapt-fp-modal__close {
  width: 2.8rem;
  position: absolute;
  z-index: 10;
  height: 3.8rem;
  right: 1.3rem;
  top: 2rem;
}
.fapt-fp-modal__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-height: 25rem;
  display: block;
  transform: translate3d(0, 0, 0);
}
.fapt-fp-modal__img--hidden {
  display: none;
}
.fapt-fp-modal__fail-text {
  letter-spacing: 0;
  color: #000000;
  margin: 0;
  font-size: 1.8rem;
  line-height: 3.2rem;
  padding: 1.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.fapt-fp-modal__left {
  text-align: center;
  padding: 2.4rem;
  position: relative;
}
.fapt-fp-modal__right {
  padding-top: 4rem;
  text-align: left;
}
.fapt-fp-modal__nav-link {
  margin-bottom: 1.6rem;
  padding-left: 2rem;
}
.fapt-fp-modal__fp-name {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-family: 'miller-display', serif;
  color: #1c2a33;
  display: inline-block;
  text-transform: uppercase;
}
.fapt-fp-modal__beds-baths {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  margin-top: 1.6rem;
  color: #1c2a33;
}
.fapt-fp-modal__more-details {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.fapt-fp-modal__download-plan {
  min-width: 21.2rem;
  border-color: #e2e2e2;
  width: 100%;
}
@media (hover: hover), (-ms-high-contrast:none) {
  .fapt-fp-modal__download-plan:hover {
    border-color: #f37120;
  }
}
.fapt-fp-modal__tour {
  min-width: 21.2rem;
}
.fapt-fp-modal__share .btn-circular-with-icon {
  background-color: transparent;
}
.fapt-fp-modal__share .link-text {
  font-size: 1.6rem;
  line-height: 1.7rem;
  letter-spacing: 0;
  color: #1c2a33;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  margin-left: 0.7rem;
}
.fapt-fp-modal .apts-modal__main {
  max-width: 100vw;
  width: 100%;
  top: 0;
  box-shadow: none;
  margin-bottom: 0;
}
.fapt-fp-modal .apts-modal__overlay {
  background-color: #ffffff;
}
.fapt-fp-modal .apts-modal__content-wrapper {
  padding: 0;
}
@media screen and (min-width: 576px) {
  .fapt-fp-modal__right {
    text-align: center;
  }
  .fapt-fp-modal__download-plan {
    width: auto;
  }
  .fapt-fp-modal__fn-details {
    text-align: left;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .fapt-fp-modal__content {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .fapt-fp-modal__content::before {
    box-shadow: none;
    background-color: transparent;
  }
  .fapt-fp-modal__fp-name {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #ebebeb;
  }
  .fapt-fp-modal__left {
    flex-basis: 72%;
    height: 100vh;
  }
  .fapt-fp-modal__right {
    flex-basis: 28%;
    padding-top: 10.6rem;
    text-align: left;
    background-color: #f9fafb;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .fapt-fp-modal__right {
    padding-left: 6rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fapt-fp-modal__right {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    place-items: center;
  }
  .fapt-fp-modal__fn-details {
    padding-bottom: 3rem;
  }
}

.fapt-fp-map-rail__unit-card {
  padding: 2.4rem;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.fapt-fp-map-rail__unit-card--spl {
  padding-top: 4.8rem;
}
.fapt-fp-map-rail__unit-card--no-cursor {
  cursor: auto;
}
.fapt-fp-map-rail__unit-card--no-cursor a {
  cursor: auto;
}
.fapt-fp-map-rail__icon-button-wrapper {
  display: flex;
  justify-content: center;
}
.fapt-fp-map-rail__unit-card-cta {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
}
.fapt-fp-map-rail__unit-desc-wrapper {
  max-width: calc(100% - 5rem);
}
.fapt-fp-map-rail__unit-card-desc {
  margin-bottom: 0;
  margin-top: 0;
  color: #575759;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 0;
}
.fapt-fp-map-rail__unit-card-desc--floor {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.1rem;
  color: #1c2a33;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.fapt-fp-map-rail__unit-card-desc--sqft {
  letter-spacing: -0.025rem;
}
.fapt-fp-map-rail__unit-card-desc--price {
  letter-spacing: -0.025rem;
}
.fapt-fp-map-rail__unit-card-desc--title {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 0.1rem;
}
.fapt-fp-map-rail__unit-card-desc--beds-baths {
  font-size: 1.4rem;
  line-height: 2.6rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.fapt-fp-map-rail__unit-card-desc--availability-bold {
  font-weight: 700;
}
.fapt-fp-map-rail__preview-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in;
  transform: translateY(-100px);
}
.fapt-fp-map-rail__preview-container--show {
  transition: all 0.3s ease-out;
  opacity: 1;
  transform: translateY(0);
}
.fapt-fp-map-rail__preview-body {
  overflow-y: auto;
  position: relative;
}
.fapt-fp-map-rail__preview-img-spl-badge {
  position: static;
  transform: none !important;
  margin: 0 auto;
}
.fapt-fp-map-rail__preview-img-container {
  min-height: 10rem;
  position: relative;
  text-align: center;
  padding: 0 2.4rem 2.2rem 2.4rem;
}
.fapt-fp-map-rail__preview-img-container img {
  margin-top: 3.8rem;
  width: 100%;
  display: block;
}
.fapt-fp-map-rail__preview-img-zoom-container {
  margin-top: 1.7rem;
  padding-right: 0.5rem;
}
.fapt-fp-map-rail__share-form-container {
  margin-top: 1.7rem;
}
.fapt-fp-map-rail__preview-img-remodeled-badge,
.fapt-fp-map-rail__preview-img-reduced-price-badge {
  display: inline-block;
  background-color: #5383b6;
  border-radius: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.7rem;
  letter-spacing: 0.083rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  color: #ffffff;
  margin-top: 1.7rem;
}
.fapt-fp-map-rail__preview-img-reduced-price-badge {
  background-color: #f37120;
}
.fapt-fp-map-rail__preview-title-container {
  background-color: #f5f5f5;
  padding: 1.4rem 2.4rem;
  color: #1c2a33;
}
.fapt-fp-map-rail__preview-floorplan-title {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}
.fapt-fp-map-rail__preview-unit-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0;
  margin-top: 1.1rem;
  margin-bottom: 0;
}
.fapt-fp-map-rail__preview-unit-amenities {
  padding-left: 4.8rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.fapt-fp-map-rail__preview-unit-amenity {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
  color: #1c2a33;
}
@media screen and (max-width: 768px) {
  .fapt-fp-map-rail__unit-card {
    z-index: 4;
  }
  .fapt-fp-map-rail__preview-header {
    padding: 2.1rem 2.4rem 2.7rem 2.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    min-height: 7.2rem;
  }
  .fapt-fp-map-rail .fapt-fp-map-rail__unit-card-spl-badge {
    left: 2.4rem;
    transform: none;
  }
  .fapt-fp-map-rail__preview-statement {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: -0.024rem;
    width: calc(100% - 6rem);
  }
  .fapt-fp-map-rail__preview-close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  .fapt-fp-map-rail__preview-close::after,
  .fapt-fp-map-rail__preview-close::before {
    position: relative;
    top: 1.1rem;
  }
  .fapt-fp-map-rail__preview-cta-container {
    margin-top: 6.5rem;
  }
  .fapt-fp-map-rail__preview-cta {
    display: block;
    margin: 0 auto;
  }
  .fapt-fp-map-rail__preview-footer {
    height: 5.2rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
  .fapt-fp-map-rail__preview-footer-cta-container {
    width: 15rem;
    margin: 0 auto;
    position: relative;
    height: 5.2rem;
    text-align: center;
  }
  .fapt-fp-map-rail__preview-footer-text {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    color: #1c2a33;
    line-height: 5.2rem;
  }
  .fapt-fp-map-rail__preview-footer-text--total {
    color: #5383b6;
  }
  .fapt-fp-map-rail__preview-footer-cta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .fapt-fp-map-rail__preview-footer-cta--left {
    left: 0;
  }
  .fapt-fp-map-rail__preview-footer-cta--right {
    right: 0;
  }
  .fapt-fp-map-rail__preview-unit-amenities {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .fapt-fp-map-rail__preview-title-container {
    padding-left: 15.25%;
    padding-right: 15.25%;
  }
  .fapt-fp-map-rail__preview-unit-amenities {
    padding-left: 15.25%;
    padding-right: 15.25%;
  }
  .fapt-fp-map-rail__preview-unit-amenity {
    text-indent: 2rem;
  }
  .fapt-fp-map-rail__preview-statement {
    text-align: center;
  }
  .fapt-fp-map-rail__preview-cta-container {
    width: calc(100% - 6rem);
  }
  .fapt-fp-map-rail__preview-img-container {
    padding-bottom: 3.1rem;
  }
  .fapt-fp-map-rail__preview-img-container img {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 769px) {
  .fapt-fp-map-rail {
    height: 100%;
    position: relative;
  }
  .fapt-fp-map-rail__unit-selector {
    height: 100%;
    width: 26.6rem;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .fapt-fp-map-rail__unit-selector--show {
    transition: all 0.3s ease-out;
    transform: translateX(0);
  }
  .fapt-fp-map-rail__unit-selector--no-shadow {
    box-shadow: 0 0 10px transparent;
  }
  .fapt-fp-map-rail__unit-card {
    background-color: #ffffff;
  }
  .fapt-fp-map-rail__unit-card-desc--title {
    margin-bottom: 0.7rem;
  }
  .fapt-fp-map-rail__unit-card-desc--beds-baths {
    line-height: 1.6rem;
    margin-bottom: 0.4rem;
  }
  .fapt-fp-map-rail__unit-card-select {
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    opacity: 0;
    transition: all 0.18s;
  }
  .fapt-fp-map-rail__unit-card-select--selected {
    opacity: 1;
    color: #ffffff;
    background-color: #f37120;
    border-color: #f37120;
  }
  .fapt-fp-map-rail__preview-container {
    height: 100%;
    width: 32.6rem;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    top: 0;
    left: -6rem;
    opacity: 1;
  }
  .fapt-fp-map-rail__preview-container--show-partial {
    left: 26.6rem;
    transition: all 0.3s ease-out;
  }
  .fapt-fp-map-rail__preview-container--show {
    transition: all 0.3s ease-out;
    transform: translateX(0);
  }
  .fapt-fp-map-rail__preview-img-container {
    padding-bottom: 1.1rem;
    padding-right: 4.3rem;
    padding-left: 4.3rem;
  }
  .fapt-fp-map-rail__preview-img-container img {
    margin-top: 5.5rem;
  }
  .fapt-fp-map-rail__preview-img-remodeled-badge {
    margin-top: 2.4rem;
  }
  .fapt-fp-map-rail__preview-title-container {
    text-align: center;
    background-color: transparent;
    padding: 0;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .fapt-fp-map-rail__preview-body {
    height: 100%;
    padding-bottom: 4rem;
  }
  .fapt-fp-map-rail__close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: #1c2a33;
    width: 4.7rem;
    height: 4.7rem;
    cursor: pointer;
  }
  .fapt-fp-map-rail__close::before,
  .fapt-fp-map-rail__close::after {
    position: relative;
    top: 2.1rem;
    left: 0.8rem;
    width: 3.2rem;
    background-color: #ffffff;
  }
  .fapt-fp-map-rail__close:hover,
  .fapt-fp-map-rail__close:focus,
  .fapt-fp-map-rail__close:active {
    background-color: #1c2a33;
  }
  .fapt-fp-map-rail__preview-unit-amenities {
    margin-top: 1.6rem;
    padding-left: 6.5rem;
    padding-right: 1.5rem;
  }
  .fapt-fp-map-rail__preview-unit-cta-container {
    margin-top: 4.1rem;
  }
  .fapt-fp-map-rail__preview-unit-cta {
    margin: 0 auto;
    display: block;
  }
}
@media screen and (min-width: 769px) and (hover: hover), (-ms-high-contrast:none) {
  .fapt-fp-map-rail__unit-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: all 0.18s;
  }
  .fapt-fp-map-rail__unit-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .fapt-fp-map-rail__unit-card:hover .fapt-fp-map-rail__unit-card-select {
    opacity: 1;
  }
  .fapt-fp-map-rail__unit-card--selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    cursor: auto;
  }
  .fapt-fp-map-rail__unit-card--selected a {
    cursor: auto;
  }
}

.fapt-fp-map-pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  text-align: center;
  width: 12.8rem;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%) translateX(-50%) translateY(-1rem);
  will-change: opacity, left, top, visibility;
}
.fapt-fp-map-pointer__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0.8rem;
  overflow: hidden;
}
.fapt-fp-map-pointer__pin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(1rem) rotate(45deg);
  bottom: 0;
  width: 4rem;
  height: 4rem;
  background-color: #1c2a33;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.fapt-fp-map-pointer__content {
  height: 8.4rem;
  padding: 1.3rem;
  position: relative;
  z-index: 3;
  background-color: #1c2a33;
  border-radius: 0.8rem;
}
.fapt-fp-map-pointer__count {
  font-size: 2.8rem;
  line-height: 2.6rem;
  letter-spacing: -0.035rem;
  color: #ffffff;
  display: block;
  min-height: 2.6rem;
}
.fapt-fp-map-pointer__text {
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
  min-height: 1.7rem;
  color: #ffffff;
  display: block;
}
.fapt-fp-map-pointer__link {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  min-height: 1rem;
  color: #888888;
  display: block;
  font-weight: 700;
}

.fapt-fp-map {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-bottom: 4.5rem;
}
.fapt-fp-map__disclaimer {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.fapt-fp-map__note {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.03rem;
  margin-bottom: 4rem;
  margin-top: 0;
  text-align: center;
}
.fapt-fp-map__wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fapt-fp-map__svg-container {
  width: 100%;
  height: 56rem;
  margin-bottom: 2rem;
  z-index: 2;
  position: relative;
  cursor: grab;
}
.fapt-fp-map__svg-container--smooth-move .svg-pan-zoom_viewport {
  transition: 0.2s transform linear;
}
.fapt-fp-map__svg-container--grabbing {
  cursor: grabbing;
}
.fapt-fp-map__placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  max-width: 87%;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.6;
  font-family: 'miller-display', serif;
  width: 100%;
  opacity: 0.5;
}
.fapt-fp-map__svg-result-wrapper {
  position: relative;
}
.fapt-fp-map__svg {
  margin: 0 !important;
  width: 100% !important;
  text-rendering: optimizeSpeed;
  pointer-events: none;
  touch-action: none;
}
.fapt-fp-map__svg text {
  pointer-events: none;
}
.fapt-fp-map__svg #TYPE text,
.fapt-fp-map__svg #UNIT_TYPE text,
.fapt-fp-map__svg #model_type text,
.fapt-fp-map__svg .fapt-fp-map__available-text text {
  fill: #231f20;
}
.fapt-fp-map__svg .fapt-fp-map__available-path {
  cursor: pointer;
  fill: #f37120;
  transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  pointer-events: auto;
  touch-action: auto;
}
.fapt-fp-map__svg .fapt-fp-map__available-path--hovered {
  fill: #ffa000;
  stroke: #ffa000;
}
.fapt-fp-map__svg .fapt-fp-map__available-path:hover {
  fill: #ffa000;
  stroke: #ffa000;
}
.fapt-fp-map__svg .fapt-fp-map__available-path.fapt-fp-map__svg-cloned-path {
  fill: #f37120;
  stroke: #f37120;
}
.fapt-fp-map__svg .fapt-fp-map__available-path.fapt-fp-map__svg-cloned-path:hover {
  fill: #f37120;
  stroke: #f37120;
}
.fapt-fp-map__zoom-container {
  position: absolute;
  right: 2.4rem;
  top: 2.4rem;
  z-index: 2;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.fapt-fp-map__zoom-btn {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  line-height: 1;
  margin: 0;
  text-align: center;
  padding: 0;
  border: 1px solid #ebebeb;
}
.fapt-fp-map__zoom-btn:first-child {
  margin-right: -0.6rem;
}
.fapt-fp-map__zoom-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.fapt-fp-map__zoom-btn .apts-icon::before {
  font-size: 1.9rem;
  font-weight: 700;
}
.fapt-fp-map__dummy-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.fapt-fp-map__svg-overlay {
  display: none;
  opacity: 0.4;
}
.fapt-fp-map__svg-overlay--show {
  display: block;
}
.fapt-fp-map__result-container {
  background-color: #ffffff;
  position: relative;
}
.fapt-fp-map--disabled {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .fapt-fp-map__svg-container--has-selected-unit {
    margin-bottom: 0;
  }
  .fapt-fp-map__note {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media screen and (min-width: 576px) {
  .fapt-fp-map {
    margin-bottom: 3.7rem;
  }
  .fapt-fp-map__note {
    margin-bottom: 3.1rem;
  }
}
@media screen and (min-width: 769px) {
  .fapt-fp-map {
    margin-left: 0;
    margin-right: 0;
  }
  .fapt-fp-map__note {
    margin-bottom: 2.3rem;
  }
  .fapt-fp-map__svg-result-wrapper {
    background-color: transparent;
    overflow: hidden;
  }
  .fapt-fp-map__svg-container {
    height: 79.2rem;
    margin-bottom: 0;
  }
  .fapt-fp-map__result-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: transparent;
  }
}
@media screen and (min-width: 992px) {
  .fapt-fp-map__svg-container {
    height: 80rem;
  }
}

.fapt-fp-list-item {
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  padding: 1.5rem 2.4rem;
  transition: all 0.2s linear;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.fapt-fp-list-item__container {
  border-bottom: 1px solid #ebebeb;
}
.fapt-fp-list-item__container:first-child {
  border-top: 1px solid #ebebeb;
}
.fapt-fp-list-item__spl-badge.fapt-fp-special-link {
  left: 2.4rem;
}
.fapt-fp-list-item__acc-trigger-wrapper {
  text-align: right;
  min-height: 3.2rem;
}
.fapt-fp-list-item__acc-trigger-cta {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  z-index: 2;
  border-width: 0.1rem;
}
.fapt-fp-list-item__acc-trigger-cta::after,
.fapt-fp-list-item__acc-trigger-cta::before {
  content: '';
  width: 1.6rem;
  height: 0.1rem;
  background-color: #575759;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
}
.fapt-fp-list-item__acc-trigger-cta::before {
  width: 0.1rem;
  height: 1.6rem;
}
.fapt-fp-list-item__acc-trigger-cta:focus,
.fapt-fp-list-item__acc-trigger-cta:active {
  outline: none;
  background-color: transparent !important;
  border-color: #bbbbbb !important;
}
.fapt-fp-list-item__acc-trigger-cta:focus::after,
.fapt-fp-list-item__acc-trigger-cta:active::after,
.fapt-fp-list-item__acc-trigger-cta:focus::before,
.fapt-fp-list-item__acc-trigger-cta:active::before {
  background-color: #575759;
}
@media (hover: hover), (-ms-high-contrast:none) {
  .fapt-fp-list-item__acc-trigger-cta:hover {
    outline: none;
    background-color: #f37120 !important;
    border-color: #f37120 !important;
  }
  .fapt-fp-list-item__acc-trigger-cta:hover::after,
  .fapt-fp-list-item__acc-trigger-cta:hover::before {
    background-color: #ffffff;
  }
}
.fapt-fp-list-item__expanded-data {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.025rem;
  color: #575759;
  transition: all 0.2s linear;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.fapt-fp-list-item__expanded-data--plan-name {
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.fapt-fp-list-item__expanded-data--beds-baths {
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.fapt-fp-list-item__expanded-data--price {
  opacity: 1;
}
.fapt-fp-list-item__img-units-wrapper {
  display: none;
}
.fapt-fp-list-item__fp-image {
  margin-bottom: 2.4rem;
  display: block;
  width: 100%;
  min-height: 22rem;
}
.fapt-fp-list-item__disclaimer {
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: -0.025rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2.5rem;
  color: #1c2a33;
}
.fapt-fp-list-item__fp-mob-zoom {
  display: block;
  margin: 0 auto;
  margin-bottom: 2.4rem;
}
.fapt-fp-list-item__column--plan-name {
  text-transform: uppercase;
}
.fapt-fp-list-item__share-form-container-mb {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.fapt-fp-list-item__share-form-container-mb button {
  margin: 0;
}
.fapt-fp-list-item__share-form-container-mb button:first-child {
  margin-right: 1.3rem;
}
@media (hover: hover), (-ms-high-contrast:none) {
  .fapt-fp-list-item--can-expand:hover {
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}
.fapt-fp-list-item--expanded {
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding-bottom: 0;
  cursor: auto;
}
.fapt-fp-list-item--expanded .fapt-fp-list-item__acc-trigger-cta {
  background-color: #f37120 !important;
  border-color: #f37120 !important;
}
.fapt-fp-list-item--expanded .fapt-fp-list-item__acc-trigger-cta::before,
.fapt-fp-list-item--expanded .fapt-fp-list-item__acc-trigger-cta::after {
  background-color: #ffffff !important;
}
.fapt-fp-list-item--expanded .fapt-fp-list-item__acc-trigger-cta::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.fapt-fp-list-item--expanded .fapt-fp-list-item__expanded-data {
  color: #1c2a33;
}
.fapt-fp-list-item--highlight {
  background-color: #e9edf0;
}
@media screen and (max-width: 768px) {
  .fapt-fp-list-item__img-units-wrapper {
    min-height: 30rem;
  }
  .fapt-fp-list-item__expand-wrapper {
    display: block !important;
  }
  .fapt-fp-list-item--expanded .fapt-fp-list-item__expanded-data--price {
    opacity: 0;
    user-select: none;
  }
}
@media screen and (min-width: 769px) {
  .fapt-fp-list-item {
    margin-left: -3.2rem;
    margin-right: -3.2rem;
    padding: 0 3.2rem;
    cursor: auto;
    background-color: #ffffff;
  }
  .fapt-fp-list-item--highlight {
    background-color: #e9edf0;
  }
  .fapt-fp-list-item__container:first-child {
    border-top: none;
  }
  .fapt-fp-list-item__container:first-child .fapt-fp-list-item__wrapper {
    border-top: 1px solid #ebebeb;
  }
  .fapt-fp-list-item__spl-badge.fapt-fp-special-link {
    left: 11.7rem;
  }
  .fapt-fp-list-item__table {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .fapt-fp-list-item__table--body {
    height: 9.6rem;
  }
  .fapt-fp-list-item__table--pointer {
    cursor: pointer;
  }
  .fapt-fp-list-item__table--heading {
    margin-bottom: 1.5rem;
  }
  .fapt-fp-list-item__column {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    word-break: break-word;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -0.025rem;
    color: #575759;
    transition: all 0.2s linear;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
  .fapt-fp-list-item__column--plan-name {
    width: 25%;
    text-align: left;
    padding-left: 0;
    font-weight: 600;
  }
  .fapt-fp-list-item__column--img {
    width: 15%;
    position: static;
  }
  .fapt-fp-list-item__column--beds-baths {
    width: 20%;
    font-weight: 600;
  }
  .fapt-fp-list-item__column--price {
    width: 20%;
  }
  .fapt-fp-list-item__column--sqft {
    width: 10%;
  }
  .fapt-fp-list-item__column--cta {
    width: 10%;
    text-align: right;
    padding-right: 0;
  }
  .fapt-fp-list-item__column--heading {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
    color: #55758e;
    font-weight: 700;
  }
  .fapt-fp-list-item__col-fp-img-wrapper {
    width: 15%;
    position: absolute;
    left: 25%;
    top: 0.9rem;
    height: 8rem;
    z-index: 3;
  }
  .fapt-fp-list-item__col-fp-img-wrapper--error {
    transition: all 0.2s linear;
  }
  .fapt-fp-list-item__col-fp-img {
    display: block;
    object-fit: contain;
    object-position: center;
    width: auto;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    transition: all 0.2s linear;
  }
  .fapt-fp-list-item__expand-wrapper {
    display: none;
    background-color: #ffffff;
    transition: all 0.2s linear;
    margin-top: 0;
    padding: 0;
  }
  .fapt-fp-list-item__expand-wrapper > div:not(.fapt-fp-list-item__img-units-wrapper),
  .fapt-fp-list-item__expand-wrapper .fapt-fp-list-item__fp-image,
  .fapt-fp-list-item__expand-wrapper .fapt-fp-list-item__disclaimer {
    padding-left: 8.5rem;
    padding-right: 8.5rem;
  }
  .fapt-fp-list-item__expanded-data-wrapper {
    opacity: 0;
    transition: all 0.2s linear;
  }
  .fapt-fp-list-item__img-units-wrapper {
    display: block !important;
    opacity: 0;
    transition: all 0.2s linear;
    margin-top: 4rem;
  }
  .fapt-fp-list-item__desk-units {
    opacity: 0;
    transition: all 0.2s linear;
  }
  .fapt-fp-list-item__fp-image {
    visibility: hidden;
    margin: 0;
    margin-bottom: 2.4rem;
  }
  .fapt-fp-list-item__disclaimer {
    text-align: left;
  }
  .fapt-fp-list-item--hides-heading {
    margin-top: -3.5rem;
  }
  .fapt-fp-list-item--expanded {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  .fapt-fp-list-item--expanded .fapt-fp-list-item__table--pointer {
    cursor: auto;
  }
  .fapt-fp-list-item--desk-hide-table-content .fapt-fp-list-item__column {
    opacity: 0;
  }
  .fapt-fp-list-item--desk-hide-table-content .fapt-fp-list-item__column--img {
    opacity: 1;
  }
  .fapt-fp-list-item--desk-hide-table-content .fapt-fp-list-item__column--cta {
    opacity: 1;
  }
  .fapt-fp-list-item--desk-show-expanded-content .fapt-fp-list-item__expanded-data-wrapper {
    opacity: 1;
  }
  .fapt-fp-list-item--desk-show-expanded-content .fapt-fp-list-item__img-units-wrapper {
    opacity: 1;
  }
  .fapt-fp-list-item--desk-show-expanded-content .fapt-fp-list-item__desk-units {
    opacity: 1;
  }
  .fapt-fp-list-item--desk-show-expanded-content .fapt-fp-list-item__expand-wrapper {
    margin-top: -3.6rem;
  }
}
@media screen and (min-width: 769px) and (hover: hover), (-ms-high-contrast:none) {
  .fapt-fp-list-item--can-expand:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}
@media screen and (min-width: 992px) {
  .fapt-fp-list-item__fp-image {
    margin-bottom: 0;
  }
  .fapt-fp-list-item__spl-badge.fapt-fp-special-link {
    left: 2.8rem;
  }
  .fapt-fp-list-item__expand-wrapper > div:not(.fapt-fp-list-item__img-units-wrapper),
  .fapt-fp-list-item__expand-wrapper .fapt-fp-list-item__fp-image,
  .fapt-fp-list-item__expand-wrapper .fapt-fp-list-item__disclaimer {
    padding-left: 0;
    padding-right: 0;
  }
  .fapt-fp-list-item__expand-wrapper-inner {
    max-width: 70.5rem;
    position: relative;
    margin: 0 auto;
  }
  .fapt-fp-list-item__expanded-data-wrapper {
    position: absolute;
    bottom: 6rem;
    right: 0;
    width: calc(100% - 351px - 40px);
  }
  .fapt-fp-list-item__img-units-wrapper {
    width: 35.1rem;
    padding-bottom: 6rem;
    margin-top: 0;
  }
  .fapt-fp-list-item__zoom {
    margin-top: 1.8rem;
  }
  .fapt-fp-list-item__expanded-data--plan-name {
    font-size: 2.4rem;
    letter-spacing: -0.072rem;
  }
}
@media screen and (min-width: 1200px) {
  .fapt-fp-list-item {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .fapt-fp-list-item__spl-badge.fapt-fp-special-link {
    left: 2.4rem;
  }
  .fapt-fp-list-item__column--plan-name {
    padding-left: 2.8rem;
  }
  .fapt-fp-list-item__column--cta {
    padding-right: 2.8rem;
  }
}
@media screen and (min-width: 3300px) {
  .fapt-fp-list-item__expanded-data-wrapper {
    width: calc(100% - 35.1rem - 4rem);
  }
}

.fapt-fp-img-zoom {
  cursor: pointer;
}
.fapt-fp-img-zoom .apts-icon::before {
  transform: translateX(0.1rem);
  display: block;
}

.fapt-fp-image {
  cursor: zoom-in;
}
.fapt-fp-image--error {
  background-color: #ebebeb;
}

.fapt-fp-grid-item {
  padding: 4rem 2.4rem;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
.fapt-fp-grid-item.highlighted {
  box-shadow: 0 0 20px 0 rgba(84, 100, 110, 0.2);
}
@media (hover: hover), (-ms-high-contrast:none) {
  .fapt-fp-grid-item:hover {
    box-shadow: 0 0 20px 0 rgba(84, 100, 110, 0.2);
  }
}
.fapt-fp-grid-item__buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.fapt-fp-grid-item__img-container {
  margin-bottom: 2.4rem;
}
.fapt-fp-grid-item__img-container img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 32.6rem;
  margin: 0 auto;
}
.fapt-fp-grid-item__zoom {
  margin-bottom: 1.7rem;
}
.fapt-fp-grid-item__plan-name {
  font-size: 1.4rem;
  line-height: 2.6rem;
  padding: 0 2rem 0.7rem 2rem;
  margin-bottom: 1.2rem;
  margin-top: 0;
  letter-spacing: 0;
  color: #1c2a33;
  display: inline-block;
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
}
.fapt-fp-grid-item__detail {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
}
.fapt-fp-grid-item__detail--beds-baths {
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: #1c2a33;
  margin-bottom: 0.4rem;
  font-weight: 700;
}
.fapt-fp-grid-item__detail-container {
  margin-bottom: 1.6rem;
}
.fapt-fp-grid-item__cta-container {
  max-width: 22.9rem;
  margin: 0 auto;
  white-space: nowrap;
}
.fapt-fp-grid-item__cta {
  display: block;
  font-size: 1.2rem;
}
@media screen and (min-width: 576px) {
  .fapt-fp-grid-item__img-container img {
    max-width: 50rem;
    max-height: 50rem;
    object-fit: contain;
    object-position: center;
  }
  .fapt-fp-grid-item__detail-container {
    margin-bottom: 2.1rem;
  }
}
@media screen and (min-width: 769px) {
  .fapt-fp-grid-item {
    border-bottom: none;
    padding: 3rem;
    margin-bottom: 1rem;
  }
  .fapt-fp-grid-item__img-container {
    height: 22rem;
  }
  .fapt-fp-grid-item__img-container img {
    height: 100%;
    max-width: none;
  }
  .fapt-fp-grid-item__plan-name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0;
    padding-bottom: 0.5rem;
  }
  .fapt-fp-grid-item__detail {
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: -0.026rem;
  }
  .fapt-fp-grid-item__detail--beds-baths {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0;
    margin-bottom: 0.8rem;
  }
  .fapt-fp-grid-item__detail-container {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .fapt-fp-grid-item {
    padding: 3.3rem 2rem;
  }
  .fapt-fp-grid-item__cta-container {
    max-width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .fapt-fp-grid-item {
    padding: 2.4rem;
  }
  .fapt-fp-grid-item__img-container {
    height: 24rem;
  }
  .fapt-fp-grid-item__plan-name {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
  }
  .fapt-fp-grid-item__detail--beds-baths {
    margin-bottom: 0.8rem;
  }
  .fapt-fp-grid-item__detail-container {
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 3300px) {
  .fapt-fp-grid-item {
    padding: 0.88235294rem;
  }
  .fapt-fp-grid-item__img-container {
    height: 19.11764706rem;
  }
  .fapt-fp-grid-item__zoom {
    width: 2.20588235rem;
    height: 2.20588235rem;
  }
  .fapt-fp-grid-item__zoom .apts-icon::before {
    font-size: 1.17647059rem;
  }
  .fapt-fp-grid-item__cta {
    font-size: 1rem;
    line-height: 1.52941176rem;
    padding-left: 0.58823529rem;
    padding-right: 0.58823529rem;
    letter-spacing: 0;
  }
}

.fapt-fp-grid__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.7rem;
}
.fapt-fp-grid .three-cols {
  width: calc(33.33% - 1rem);
  transform: none;
}
.fapt-fp-grid .three-cols:nth-child(3n + 2):nth-last-child(1) {
  transform: translateX(-50%) translateX(-0.5rem);
}
.fapt-fp-grid .three-cols:nth-child(3n + 1):nth-last-child(2) {
  transform: translateX(50%) translateX(1rem);
}
.fapt-fp-grid .three-cols:nth-child(3n + 1):nth-last-child(1) {
  transform: translateX(100%) translateX(1.5rem);
}
.fapt-fp-grid .two-cols {
  width: calc(50% - 1rem);
  transform: none;
}
.fapt-fp-grid .two-cols:nth-child(2n + 1):nth-last-child(1) {
  transform: translateX(50%) translateX(0.5rem);
}
.fapt-fp-grid .four-cols {
  transform: none;
  width: calc(25% - 2rem);
}
.fapt-fp-grid .four-cols:nth-child(4n + 1):nth-last-child(1) {
  transform: translateX(150%) translateX(4rem);
}
.fapt-fp-grid .four-cols:nth-child(4n + 1):nth-last-child(2) {
  transform: translateX(100%) translateX(2.75rem);
}
.fapt-fp-grid .four-cols:nth-child(4n + 2):nth-last-child(1) {
  transform: translateX(-100%) translateX(-2.75rem);
}
.fapt-fp-grid .four-cols:nth-child(4n + 3):nth-last-child(1) {
  transform: translateX(-50%) translateX(-1.5rem);
}
.fapt-fp-grid .four-cols:nth-child(4n + 2):nth-last-child(2) {
  transform: none;
}
.fapt-fp-grid .four-cols:nth-child(4n + 1):nth-last-child(3) {
  transform: translateX(50%) translateX(1.5rem);
}
@media screen and (min-width: 576px) {
  .fapt-fp-grid__container {
    margin-bottom: 4.3rem;
  }
}
@media screen and (min-width: 576px) {
  .fapt-fp-grid__container {
    margin-bottom: 4.4rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .fapt-fp-grid__item {
    width: calc(50% - 1rem);
    transform: none;
  }
  .fapt-fp-grid__item:nth-child(2n + 1):nth-last-child(1) {
    transform: translateX(50%) translateX(0.5rem);
  }
}
@media screen and (min-width: 769px) {
  .fapt-fp-grid__container {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .fapt-fp-grid__container {
    margin-bottom: 3.2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fapt-fp-grid--full-width .fapt-fp-grid__item {
    width: calc(33.33% - 1rem);
    transform: none;
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(3n + 2):nth-last-child(1) {
    transform: translateX(-50%) translateX(-0.5rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(3n + 1):nth-last-child(2) {
    transform: translateX(50%) translateX(1rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(3n + 1):nth-last-child(1) {
    transform: translateX(100%) translateX(1.5rem);
  }
  .fapt-fp-grid--normal-width .fapt-fp-grid__item {
    width: calc(50% - 1rem);
    transform: none;
  }
  .fapt-fp-grid--normal-width .fapt-fp-grid__item:nth-child(2n + 1):nth-last-child(1) {
    transform: translateX(50%) translateX(0.5rem);
  }
}
@media screen and (min-width: 1200px) {
  .fapt-fp-grid--full-width .fapt-fp-grid__item {
    transform: none;
    width: calc(25% - 2rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(4n + 1):nth-last-child(1) {
    transform: translateX(150%) translateX(4rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(4n + 1):nth-last-child(2) {
    transform: translateX(100%) translateX(2.75rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(4n + 2):nth-last-child(1) {
    transform: translateX(-100%) translateX(-2.75rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(4n + 3):nth-last-child(1) {
    transform: translateX(-50%) translateX(-1.5rem);
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(4n + 2):nth-last-child(2) {
    transform: none;
  }
  .fapt-fp-grid--full-width .fapt-fp-grid__item:nth-child(4n + 1):nth-last-child(3) {
    transform: translateX(50%) translateX(1.5rem);
  }
  .fapt-fp-grid--normal-width .fapt-fp-grid__item {
    width: calc(33.33% - 1rem);
    transform: none;
  }
  .fapt-fp-grid--normal-width .fapt-fp-grid__item:nth-child(3n + 2):nth-last-child(1) {
    transform: translateX(-50%) translateX(-0.5rem);
  }
  .fapt-fp-grid--normal-width .fapt-fp-grid__item:nth-child(3n + 1):nth-last-child(2) {
    transform: translateX(50%) translateX(1rem);
  }
  .fapt-fp-grid--normal-width .fapt-fp-grid__item:nth-child(3n + 1):nth-last-child(1) {
    transform: translateX(100%) translateX(1.5rem);
  }
}
@media screen and (max-width: 768px) {
  .fapt-fp-grid__container {
    margin-left: 0;
    margin-right: 0;
  }
  .fapt-fp-grid__item {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .fapt-fp-grid__container {
    margin-left: -2.4rem;
    margin-right: -2.4rem;
  }
}

.fapt-filter__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.fapt-filter__dropdown .dropdown__trigger {
  display: flex;
}
.fapt-filter__dropdown .dropdown__body {
  padding-bottom: 0;
}
.fapt-filter__dropdown-more > .dropdown__trigger {
  height: 5rem;
  display: flex;
  align-items: center;
}
.fapt-filter__dropdown-more > .dropdown__box {
  top: 6.5rem !important;
  overflow-y: visible;
}
.fapt-filter__dropdown-more .dropdown__body {
  overflow-y: visible;
}
.fapt-filter__dropdown-floor .dropdown__body {
  overflow-y: visible;
}
.fapt-filter__dropdown-select-floor {
  width: 80%;
  margin: 0 auto;
}
.fapt-filter__dropdown-select-floor .dropdown__trigger {
  justify-content: center;
}
.fapt-filter__search-wrapper {
  position: relative;
  margin-top: 1.5rem;
}
.fapt-filter__search-wrapper--desktop .fapt-filter__search-input,
.fapt-filter__search-wrapper--desktop .fapt-filter__search-placeholder {
  font-size: 1.2rem;
  color: #575759;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}
.fapt-filter__search-wrapper--desktop .fapt-filter__search-placeholder--hidden {
  color: #f37120;
}
.fapt-filter__search-btn {
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #f37120;
  font-size: 1.4rem;
  background-color: transparent;
}
.fapt-filter__search-btn:focus,
.fapt-filter__search-btn:hover,
.fapt-filter__search-btn:active {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.fapt-filter__search-placeholder {
  color: #575759;
  font-size: 1.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.05rem;
  position: absolute;
  left: 1.6rem;
  top: 0.3rem;
  pointer-events: none;
  opacity: 1;
  transition: all 0.2s;
}
.fapt-filter__search-placeholder--hidden {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #f37120;
  left: 0;
  opacity: 0.6;
  top: -2rem;
}
.fapt-filter__search-input {
  border: none;
  border-bottom: 1px solid #bbbbbb;
  padding-right: 2rem;
  padding-left: 1.6rem;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-shadow: none;
  height: 4rem;
  color: #1c2a33;
  font-size: 1.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.05rem;
  transition: all 0.2s;
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
.fapt-filter__search-input:focus,
.fapt-filter__search-input:hover,
.fapt-filter__search-input:active {
  outline: none;
  box-shadow: none;
}
.fapt-filter__search-input--filled {
  border-bottom-color: #f37120;
}
.fapt-filter__range-input__field {
  width: 8.8rem;
}
.fapt-filter__range-input__slider {
  margin-top: 2.2rem;
}
.fapt-filter__clear {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}
.fapt-filter__item-title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  text-align: left;
}
.fapt-filter__checkbox-item {
  width: 50%;
  float: left;
}
.fapt-filter__checkbox-item:nth-child(odd) {
  clear: both;
}
.fapt-filter__features-wrapper {
  margin-top: 2.1rem;
}
.fapt-filter .filter-fade-enter-active,
.fapt-filter .filter-fade-leave-active {
  transition: all .2s linear;
  opacity: 1;
}
.fapt-filter .filter-fade-enter,
.fapt-filter .filter-fade-leave-to,
.fapt-filter .filter-fade-leave-active {
  /* .fade-leave-active below version 2.1.8 */
  opacity: 0;
  overflow: hidden;
  transition: all .2s linear;
}
@media screen and (max-width: 768px) {
  .fapt-filter {
    position: relative;
  }
  .fapt-filter__dropdown {
    position: initial;
  }
  .fapt-filter__dropdown .dropdown__trigger {
    position: initial;
  }
}
@media screen and (min-width: 1200px) {
  .fapt-filter__range-input__field {
    width: 6.8rem;
    font-size: 1.2rem;
    height: 3rem;
  }
  .fapt-filter__search-wrapper {
    margin-top: 0;
  }
  .fapt-filter__dropdown-more > .dropdown__trigger {
    height: auto;
  }
  .fapt-filter .dropdown__box--has-pin {
    top: 47px !important;
  }
}

.fapt__title {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 0.025rem;
}
.fapt__content {
  margin-bottom: 2rem;
}
.fapt__tab-content--list {
  margin-top: 3.9rem;
}
.fapt__tab-content--map {
  margin-top: 3.2rem;
}
.fapt__tab-content--grid {
  margin-top: 2.5rem;
}
.fapt__no-unit-modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 40%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.fapt__no-unit-modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888888;
  width: 95%;
  text-align: center;
}
.fapt__no-unit-modal-close-button {
  color: #888888;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-left: 0.7rem;
}
.fapt__no-unit-modal-close-button:focus,
.fapt__no-unit-modal-close-button:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.fapt__tabs-trigger-container--is-compact-mode .fapt-filter__dropdown .dropdown__trigger {
  padding-left: 1rem;
  padding-right: 1rem;
}
.fapt__disclaimer {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  color: #575759;
}
.fapt__tabs-trigger-partition--right {
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 576px) {
  .fapt__tabs-trigger-partition--right {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .fapt__tabs-trigger-partition--right {
    justify-content: flex-end;
    margin-top: 0;
  }
}
@media screen and (max-width: 575px) {
  .fapt__tabs-trigger-partition--left {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 576px) {
  .fapt__tab-content--list {
    margin-top: 5.6rem;
  }
  .fapt__tab-content--map {
    margin-top: 3rem;
  }
  .fapt__tab-content--grid {
    margin-top: 4.3rem;
  }
}
@media screen and (max-width: 768px) {
  .fapt__tabs-trigger-container {
    padding-bottom: 0.6rem;
  }
}
@media screen and (min-width: 769px) {
  .fapt__content {
    margin-bottom: 3.5rem;
  }
  .fapt__tab-content--list {
    margin-top: 6.1rem;
  }
  .fapt__tab-content--map {
    margin-top: 2.4rem;
  }
  .fapt__tab-content--grid {
    margin-top: 6.3rem;
  }
  .fapt__tabs-trigger-container {
    display: flex;
    justify-content: space-between;
  }
  .fapt__tabs-trigger-container--is-compact-mode .fapt__tabs-trigger-partition--left {
    width: 100%;
  }
  .fapt__tabs-trigger-container--is-compact-mode .fapt-filter__dropdown .dropdown__trigger {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .fapt__tabs-trigger-partition--right {
    text-align: right;
  }
  .fapt__no-unit-modal-content {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .fapt__title {
    margin-bottom: 4rem;
  }
  .fapt__tab-content--list {
    margin-top: 5.1rem;
  }
  .fapt__tab-content--grid {
    margin-top: 6.1rem;
  }
  .fapt__tabs-trigger-partition--left .fapt-filter__selection-wrapper {
    width: 29.4rem;
  }
  .fapt__no-unit-modal-content {
    width: 45%;
  }
  .fapt__no-unit-modal {
    padding-top: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .fapt__tab-content--list {
    margin-top: 5.3rem;
  }
  .fapt__tab-content--grid {
    margin-top: 5.5rem;
  }
}
@media screen and (min-width: 3300px) {
  .fapt__tabs-trigger-partition--left .fapt-filter__selection-wrapper {
    width: 19.70588235rem;
  }
}

.fapt__tabs-trigger-container--is-compact-mode {
  padding-bottom: 0;
}
.fapt__tabs-trigger-container--is-compact-mode .fapt__tabs-trigger-partition {
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 576px) {
  .fapt__tabs-trigger-container--is-compact-mode .fapt__tabs-trigger-partition {
    margin-bottom: 4.3rem;
  }
}

