.special-offers-manager__modal-main {
  padding-top: 0;
}
.special-offers-manager__modal-content {
  padding: 3rem;
}
.special-offers-manager__modal-content:before {
  content: normal;
}
.special-offers-manager__offer-type {
  display: block;
  margin-top: 2rem;
  font-weight: 600;
  color: #f37120;
  text-transform: uppercase;
}
.special-offers-manager__offer-title {
  font-family: 'miller-display', serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.025rem;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  color: #1c2a33;
}
.special-offers-manager__modal-wrapper {
  padding: 0;
}
.special-offers-manager__modal-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 10;
  height: 3.8rem;
}
.special-offers-manager__disclaimer {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 2.5rem;
  font-weight: 400;
  color: #575759;
}
@media screen and (max-width: 575px) {
  .special-offers-manager__modal-main {
    width: 90%;
    height: auto;
    max-height: 92%;
    margin: 0 auto;
    top: 4%;
    overflow-y: auto;
  }
  .special-offers-manager .apts-modal__overlay--show {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .special-offers-manager__offer-title {
    font-size: 3.4rem;
    line-height: 3.6rem;
  }
}
@media screen and (min-width: 1440px) {
  .special-offers-manager__modal-main {
    max-width: 70rem;
  }
}
