/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* rail style */
.vue-slider-rail,
.vue-slider-process {
  background-color: #bbbbbb;
  border-radius: 1.5rem;
}
/* process style */
.vue-slider-process {
  background-color: #1c2a33;
}
/* dot style */
.vue-slider-dot {
  width: 2rem !important;
  height: 2rem !important;
}
.vue-slider-dot-handle {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #575759;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  position: relative;
}
.vue-slider-dot-handle::before {
  content: '';
  position: absolute;
  width: 0.6rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-right: 2px solid #bbbbbb;
  border-left: 2px solid #bbbbbb;
  margin-left: -0.2rem;
}
.vue-slider-dot-handle::after {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #bbbbbb;
  margin-left: 0.4rem;
}
