.hidden {
  display: none;
}
.schedule-a-tour-form__buttons-wrapper .pill-btn {
  padding: 0.7rem 5rem;
}
.apts-flyout__content.schedule-a-tour-form__date-open {
  overflow: hidden;
}
.schedule-a-tour-form hr {
  color: #1c2a33;
  margin: 2rem 0;
  line-height: 3rem;
  border-top: solid #dddddd;
  border-top-width: 0.1rem;
}
.schedule-a-tour-form .brand-input--textarea {
  margin-bottom: 0;
}
.schedule-a-tour-form .brand-input--select {
  text-transform: uppercase;
}
.schedule-a-tour-form .brand-input__label i {
  color: #c70000;
}
.schedule-a-tour-form .brand-checkbox input:checked + span {
  background-color: #f37120;
  border: #f37120;
}
.schedule-a-tour-form__title {
  text-transform: uppercase;
}
.schedule-a-tour-form__form-title {
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
  text-align: left;
  font-family: 'miller-display', serif;
  font-weight: 700;
}
.schedule-a-tour-form__header-wrapper {
  display: flex;
}
.schedule-a-tour-form__header-wrapper button:after,
.schedule-a-tour-form__header-wrapper button:before {
  background-color: #999999;
}
.schedule-a-tour-form__buttons-wrapper {
  display: flex;
  justify-content: center;
}
.schedule-a-tour-form__bottomHr {
  margin-bottom: 0;
}
.schedule-a-tour-form__form {
  margin-top: 3rem;
}
.schedule-a-tour-form__description {
  font-size: 1.4rem;
  text-align: left;
  font-weight: 300;
}
.schedule-a-tour-form__description p {
  margin: 0;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
}
.schedule-a-tour-form__phoneNumberWrapper {
  display: flex;
}
.schedule-a-tour-form__phoneNumberWrapper .brand-input {
  width: 50%;
  margin-top: 0.7rem;
  margin-bottom: 0;
}
.schedule-a-tour-form__phoneNumberWrapper .brand-input:first-child {
  margin-right: 5%;
}
.schedule-a-tour-form__requiredText {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  padding: 0 1.5rem;
  color: #999999;
  display: inline-block;
}
.schedule-a-tour-form__policy {
  color: #575759;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 1.5rem 0;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
.schedule-a-tour-form__loader {
  position: relative;
  margin-top: 20rem;
}
.schedule-a-tour-form__loader .spinner {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto;
}
.schedule-a-tour-form__section {
  display: none;
  min-height: 15rem;
  opacity: 0;
  transition: all 0.2s linear;
}
.schedule-a-tour-form__section--show {
  display: block;
}
.schedule-a-tour-form__section--make-visible {
  opacity: 1;
}
.schedule-a-tour-form__processing-message {
  text-align: center;
}
.schedule-a-tour-form__failed-close {
  text-align: right;
  margin-bottom: 2rem;
}
.schedule-a-tour-form__failed {
  width: 30rem;
}
.schedule-a-tour-form__failed .schedule-a-tour-form__title {
  color: #c70000;
}
.schedule-a-tour-form__confirmation-text {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: -0.025rem;
  line-height: 2.6rem;
}
.schedule-a-tour-form__tour-office-closed {
  color: #d14f52;
  line-height: 3rem;
  font-size: 1.6rem;
}
.schedule-a-tour-form__close-btn {
  position: relative;
  top: -25px;
  z-index: 99;
}
@media screen and (max-width: 991px) {
  .schedule-a-tour-form {
    width: 90%;
    margin: 0 auto;
  }
  .schedule-a-tour-form__close-btn .apts-flyout__close {
    margin-right: 0;
  }
  .schedule-a-tour-form__phoneNumberWrapper {
    display: block;
  }
  .schedule-a-tour-form__phoneNumberWrapper .brand-input {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .schedule-a-tour-form__phoneNumberWrapper .brand-input:first-child {
    margin-right: 5%;
  }
}
.schedule-a-tour-form.cq-Editable-dom {
  min-width: 90%;
  min-height: 42px;
}
