.tooltip-element {
  position: relative;
}
.tooltip-element > span {
  cursor: pointer;
}
.tooltip-element .modifier--underline {
  position: relative;
}
.tooltip-element .modifier--underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px dashed #222222;
}
.v-tooltip {
  white-space: normal;
  max-width: 500px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #222222;
}
.v-tooltip.modifier--mini {
  width: 200px;
}
.v-tooltip__desc {
  color: #222222;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}
.v-tooltip__wrap {
  text-align: center;
}
.v-tooltip__buttons .inverse {
  float: right;
}
.v-tooltip[data-size="small"] {
  min-width: auto;
  padding-top: 6px;
}
.v-tooltip[data-size="small"] .v-tooltip__desc {
  margin: 0;
  font-size: 1.2rem;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  vertical-align: middle;
}
.v-tooltip[data-size="medium"] {
  max-width: 200px;
}
.tippy-box[data-theme~='tooltip'] {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.tippy-box[data-theme~='tooltip'] .tippy-arrow {
  color: #ffffff;
}
.tippy-box[data-theme~='tooltip'] .tippy-content {
  background-color: #ffffff;
  padding: 0;
}
