.hold-form {
  line-height: 3rem;
}
.hold-form__hidden--styles {
  color: #575759 !important;
  display: block;
  margin-top: 3rem !important;
  font-weight: 400 !important;
  font-family: 'miller-display', serif;
  line-height: 3rem !important;
  font-size: 1.6rem !important;
  letter-spacing: -0.03rem !important;
}
.hold-form__greeting-error-section {
  display: none;
}
.hold-form__unit-info-out-of-range {
  color: #c70000;
  line-height: 2.5rem;
  margin-top: 1.2rem;
}
.hold-form__unit-info-out-of-range .hidden {
  display: none;
}
.hold-form__success {
  margin-top: 2rem;
}
.hold-form__success button {
  width: 100%;
}
.hold-form__thank-description {
  margin: 0;
  line-height: 2.6rem;
  font-size: 1.4rem;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
.hold-form__loader {
  position: relative;
  margin-top: 20rem;
}
.hold-form__loader .spinner {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto;
}
.hold-form__date-open {
  overflow: hidden;
}
.hold-form__header-title {
  font-family: 'miller-display', serif;
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-top: 1.5rem;
  font-weight: 700;
}
.hold-form__section {
  display: none;
  min-height: 15rem;
  opacity: 0;
  transition: all 0.2s linear;
}
.hold-form__section--show {
  display: block;
}
.hold-form__section--make-visible {
  opacity: 1;
}
.hold-form__processing-message {
  text-align: center;
}
.hold-form__failed-close {
  text-align: right;
  margin-bottom: 2rem;
}
.hold-form__failed {
  width: 30rem;
}
.hold-form__error-section {
  display: none;
  min-height: 15rem;
  opacity: 0;
  transition: all 0.2s linear;
}
.hold-form__error-section--show {
  display: block;
}
.hold-form__error-section--make-visible {
  opacity: 1;
}
.hold-form__radioButtonWrapper {
  display: flex;
}
.hold-form__width {
  width: 50%;
}
.hold-form__width label:hover {
  color: #f37120;
}
.hold-form .brand-input--textarea {
  margin-bottom: 0;
}
.hold-form__title {
  text-transform: uppercase;
}
.hold-form__form-title {
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-family: 'miller-display', serif;
}
.hold-form__header-wrapper {
  display: flex;
}
.hold-form__header-wrapper button:after,
.hold-form__header-wrapper button:before {
  background-color: #999999;
}
.hold-form__form {
  margin-top: 3rem;
}
.hold-form__description {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.hold-form__tblapply td,
.hold-form__tblapply th {
  padding-right: 3rem;
}
.hold-form__text-center {
  margin: 2rem;
  text-align: center;
  line-height: 2.3rem;
  letter-spacing: -0.03rem;
}
.hold-form__footer-text {
  font-size: 1.2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: #575759;
}
.hold-form__phoneNumberWrapper {
  display: flex;
}
.hold-form__phoneNumberWrapper .brand-input {
  width: 50%;
}
.hold-form__phoneNumberWrapper .brand-input:first-child {
  margin-right: 5%;
}
.hold-form__requiredText {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  padding: 0 1.5rem;
  color: #999999;
  display: inline-block;
}
.hold-form__policy {
  color: #575759;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 1.5rem 0;
  letter-spacing: -0.025rem;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.hold-form__btn {
  text-align: center;
}
.hold-form__btn {
  text-align: center;
}
.hold-form__phone-type-option {
  text-transform: uppercase;
}
.hold-form__disclaimer {
  display: block;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
  color: #575759;
}
@media screen and (max-width: 991px) {
  .hold-form {
    width: 90%;
    margin: 0 auto;
  }
}
.hold-form.cq-Editable-dom {
  min-width: 90%;
  min-height: 42px;
}
@media screen and (max-width: 768px) {
  .brand-input--select .brand-input__elem .ss-content.ss-open {
    transform: translateZ(10px);
  }
}
