.contact-us-form {
  max-width: 80rem;
  margin: 0 auto;
}
.contact-us-form .day-column,
.contact-us-form .time-column {
  width: 50%;
  font-weight: 300;
  padding: 0;
  margin-top: 1.5rem;
}
.contact-us-form .day-column p,
.contact-us-form .time-column p {
  margin: 0;
}
.contact-us-form__header-title {
  font-family: 'miller-display', serif;
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-top: 1.5rem;
  font-weight: 700;
}
.contact-us-form__description {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
  text-align: center;
  font-weight: 300;
}
.contact-us-form__description p {
  margin: 0;
}
.contact-us-form__header-wrapper {
  display: flex;
}
.contact-us-form__header-wrapper button:after,
.contact-us-form__header-wrapper button:before {
  background-color: #999999;
}
.contact-us-form__form {
  margin-top: 3rem;
}
.contact-us-form__main {
  transition: all 0.3s;
}
.contact-us-form__main--collapsed {
  height: 0;
  overflow: hidden;
}
.contact-us-form__community-name {
  margin: 0;
  font-size: 2.2rem;
  letter-spacing: normal;
  color: #1c2a33;
  line-height: 3.3rem;
  font-weight: 500;
  font-family: 'miller-display', serif;
}
.contact-us-form__leasing-title {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #1c2a33;
  letter-spacing: -0.03rem;
  font-weight: 400;
  font-family: 'miller-display', serif;
  margin: 0;
}
.contact-us-form__confirmation-description {
  margin: 0;
  line-height: 2.6rem;
  font-size: 1.4rem;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
.contact-us-form__lease-office-phone {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
.contact-us-form__direction-details {
  margin-bottom: 1.5rem;
}
.contact-us-form__lease-office-wrapper {
  margin-bottom: 2.5rem;
}
.contact-us-form__resident-name {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.25px;
}
.contact-us-form__leasing-address {
  margin: 0 0 2.5rem 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.25px;
}
.contact-us-form__leasing-hours {
  display: flex;
  margin-bottom: 2.5rem;
}
.contact-us-form__resident p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 300;
  letter-spacing: -0.03rem;
}
.contact-us-form__resident-header {
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0.027rem;
  margin: 0;
  font-family: 'miller-display', serif;
  font-weight: 500;
}
.contact-us-form__register {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact-us-form__register-link {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
.contact-us-form__accordion {
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 0;
  padding-top: 2rem;
}
.contact-us-form__accordion .hide {
  display: none;
}
.contact-us-form__accordion:hover {
  color: #f37120;
}
.contact-us-form .active {
  color: #f37120;
}
.contact-us-form__text-center {
  text-align: center;
}
.contact-us-form__heading {
  font-family: 'miller-display', serif;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  text-align: center;
  color: #1c2a33;
  margin: 0;
  margin-bottom: 0.8rem;
}
.contact-us-form__required--fields {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #575759;
  margin: 0;
}
.contact-us-form__info--policy {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 300;
  letter-spacing: -0.03rem;
  color: #575759;
}
.contact-us-form__btns-wrapper {
  display: flex;
  justify-content: space-around;
}
.contact-us-form__submit-btn {
  width: 45%;
}
.contact-us-form__note {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #dddddd;
}
.contact-us-form__loader {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}
.contact-us-form__loader::after {
  content: '';
  width: 6rem;
  height: 6rem;
  background-image: url('../../../../../../etc.clientlibs/apartments/clientlibs/resources/logo-sun-wave-dark.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact-us-form__section {
  display: none;
  min-height: 15rem;
  opacity: 0;
  transition: all 0.2s linear;
}
.contact-us-form__section--show {
  display: block;
}
.contact-us-form__section--make-visible {
  opacity: 1;
}
.contact-us-form__processing-message {
  text-align: center;
}
.contact-us-form__failed-close {
  text-align: right;
  margin-bottom: 2rem;
}
.contact-us-form__failed {
  width: 30rem;
}
.contact-us-form__failed .contact-us-form__title {
  color: #c70000;
}
.contact-us-form__error-section {
  display: none;
  min-height: 15rem;
  opacity: 0;
  transition: all 0.2s linear;
}
.contact-us-form__error-section--show {
  display: block;
}
.contact-us-form__error-section--make-visible {
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .contact-us-form {
    width: 90%;
    margin: 0 auto;
  }
  .contact-us-form__phonenumber-wrapper {
    display: block;
  }
  .contact-us-form__phonenumber-wrapper .brand-input {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .contact-us-form__one-of-two {
    width: 50%;
  }
  .contact-us-form__one-of-two:first-child {
    padding-right: 2rem;
  }
  .contact-us-form__one-of-two:last-child {
    padding-left: 2rem;
  }
}
.already-registered h3 {
  font-size: 2.5rem;
  line-height: 3.7rem;
  font-family: 'miller-display', serif;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.already-registered__description {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.02rem;
  color: #575759;
  font-weight: 300;
  font-family: 'miller-display', serif;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2rem;
}
.already-registered__btn-wrapper a {
  letter-spacing: 0.2rem;
  padding: 0.8rem 0;
  border: 1px solid #f37120;
  color: #f37120;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  float: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.contact-us-form.cq-Editable-dom {
  min-width: 90%;
  min-height: 42px;
}
