.navigation--component {
  margin-bottom: 2.4rem;
}
.navigation__actions {
  display: none;
}
.navigation__title .apartments-title__label {
  margin-top: 0;
}
.navigation__title .apartments-title__main {
  font-weight: 700;
}
.navigation__link--phone a {
  all: unset;
}
@media screen and (min-width: 576px) {
  .navigation--component {
    margin-bottom: 3.5rem;
  }
}
@media screen and (min-width: 769px) {
  .navigation--component {
    margin-bottom: 4.6rem;
  }
}
@media screen and (min-width: 992px) {
  .navigation {
    padding-top: 0;
  }
  .navigation--component {
    margin-bottom: 2.9rem;
  }
  .navigation__actions {
    display: block;
  }
  .navigation__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .navigation__three-dot-menu {
    position: relative;
  }
  .navigation__three-dot-menu .btn-circular-with-icon .apts-icon {
    display: block;
  }
  .navigation__link {
    position: relative;
  }
  .navigation__link .arrow-icon {
    opacity: 0;
    position: absolute;
    top: 1.7rem;
    left: -2rem;
    transition: all 0.3s;
  }
  .navigation__drop-down {
    position: absolute;
    width: 23.8rem;
    display: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    padding: 0;
    margin-top: 0.2rem;
    z-index: 10;
    overflow: hidden;
    top: 3.6rem;
  }
  .navigation__drop-down a {
    padding: 0.9rem 3.6rem;
    padding-right: 1rem;
    font-size: 1.6rem;
    line-height: 1.7rem;
    letter-spacing: 0;
    color: #1c2a33 !important;
    text-decoration: none;
    display: block;
  }
  .navigation__drop-down a .btn-circular-with-icon {
    margin-right: 1rem;
    line-height: 3.2rem !important;
  }
  .navigation__menu-btn .apts-icon-three-dots {
    font-size: 1.6rem;
  }
  .navigation__menu-btn,
  .navigation .icon-btn {
    min-height: 3.2rem !important;
  }
  .navigation__menu-btn:hover,
  .navigation .icon-btn:hover,
  .navigation__menu-btn:active,
  .navigation .icon-btn:active,
  .navigation__menu-btn:focus,
  .navigation .icon-btn:focus {
    background-color: #1c2a33 !important;
    border-color: #1c2a33 !important;
  }
  .navigation__action-btns {
    display: flex;
    align-items: center;
  }
  .navigation__availability {
    margin-left: 2.4rem;
  }
  .navigation__tour {
    margin-left: 2.4rem;
    background-color: #f37120 !important;
    color: #ffffff !important;
  }
}
@media screen and (min-width: 992px) and (hover: hover), (-ms-high-contrast:none) {
  .navigation__link:hover .btn-circular-with-icon {
    background-color: #f37120 !important;
    border-color: #f37120 !important;
    color: #ffffff !important;
  }
  .navigation__link:hover .arrow-icon {
    opacity: 1;
    left: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (hover: hover), (-ms-high-contrast:none) {
  .navigation__drop-down a:hover {
    background-color: #f9fafb;
  }
}
@media screen and (min-width: 1200px) {
  .navigation--component {
    margin-bottom: 2.3rem;
  }
  .navigation__drop-down {
    z-index: 100;
  }
}
@media screen and (min-width: 3300px) {
  .navigation--component {
    margin-top: 0;
  }
  .navigation__link .arrow-icon {
    top: 2.264rem;
  }
  .navigation__link .arrow-icon::before {
    font-size: 1.5rem;
  }
  .navigation__availability {
    font-size: 1.058rem !important;
    padding: 0.588rem 1.176rem !important;
    border-radius: 1.47rem !important;
    line-height: 1.058rem !important;
    letter-spacing: 0.088rem !important;
    margin-left: 0.8823rem !important;
  }
  .navigation__tour {
    font-size: 1.058rem !important;
    padding: 0.588rem 1.176rem !important;
    border-radius: 1.47rem !important;
    line-height: 1.058rem !important;
    letter-spacing: 0.088rem !important;
    margin-left: 0.8823rem !important;
  }
  .navigation__menu-btn {
    width: 3.176rem !important;
    height: 3.176rem !important;
  }
  .navigation__menu-btn .apts-icon::before {
    font-size: 1.5rem !important;
  }
  .navigation .icon-btn {
    width: 3.176rem !important;
    height: 3.176rem !important;
  }
  .navigation .icon-btn .apts-icon::before {
    font-size: 1.588rem !important;
  }
  .navigation__drop-down {
    top: auto;
    width: 17.647rem;
  }
  .navigation__drop-down a {
    font-size: 1.058rem;
    padding: 1.352rem;
    padding-left: 2.647rem;
    font-weight: 600;
  }
  .navigation__drop-down a .btn-circular-with-icon {
    margin-right: 0.882rem;
    line-height: 3.5rem !important;
  }
}
@media screen and (min-width: 3300px) and (hover: hover), (-ms-high-contrast:none) {
  .navigation__link:hover .arrow-icon {
    left: 0.558rem;
  }
}
.navigation .apts-icon-share-arrow {
  line-height: 1.8;
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .navigation__drop-down--align-right {
    transform: translateX(-100%);
  }
}
.navigation .pill-btn {
  min-width: 167px;
}
.navigation__interest-list {
  background-color: #f37120;
  color: #ffffff;
  margin-left: 2.4rem;
}
