.cross-navigator--absolute-position {
  position: absolute !important;
  padding-right: 0 !important;
}
.cross-navigator__desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .cross-navigator {
    z-index: 10;
    padding: 0.4rem;
  }
  .cross-navigator .arrow-icon {
    opacity: 0;
    position: absolute;
    top: 2.1rem;
    left: -2rem;
    transition: all 0.3s;
    font-size: 1.2rem;
  }
  .cross-navigator__contact-links {
    text-align: left;
    position: relative;
  }
  .cross-navigator__mobile {
    display: none;
  }
  .cross-navigator__desktop {
    display: block;
  }
  .cross-navigator--aside-inner-scroll {
    box-sizing: border-box;
    overflow-y: auto;
  }
  .cross-navigator--hidden-scroll {
    width: 30.6rem;
  }
  .cross-navigator--absolute-position {
    box-sizing: border-box;
    overflow-y: auto;
  }
  .cross-navigator__contact-wrapper {
    border-radius: 0.7rem 0 0 0.7rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .cross-navigator__contact-links {
    background-color: #ffffff;
    text-align: left;
    padding-top: 2.5rem;
    padding-bottom: 2.3rem;
    text-align: center;
  }
  .cross-navigator__contact-links .pill-btn {
    width: 100%;
  }
  .cross-navigator__availability {
    margin-top: 0.5rem;
  }
  .cross-navigator__btns-wrapper {
    margin-top: 0.6rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    box-sizing: border-box;
  }
  .cross-navigator__btns-wrapper a {
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .cross-navigator__phone {
    text-decoration: none;
    color: #1c2a33 !important;
    display: inline-block;
    cursor: pointer;
    font-size: 1.7rem;
    line-height: 1.8rem;
    letter-spacing: 0.072rem;
  }
  .cross-navigator__tour {
    background-color: #f37120;
    color: #ffffff;
  }
  .cross-navigator__interest-list {
    background-color: #f37120;
    color: #ffffff;
  }
  .cross-navigator__contact-separator {
    border-top: solid 1px #eeeff2;
    width: 80%;
    margin: 0 auto;
    box-shadow: -1px -2px 8px 3px rgba(0, 0, 0, 0.1);
  }
  .cross-navigator__contact-details {
    font-weight: 500;
    padding: 1rem 0;
  }
  .cross-navigator__contact-link {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.7rem;
    letter-spacing: 0;
    overflow: hidden;
    text-align: left;
  }
  .cross-navigator__contact-link a {
    display: flex;
    align-items: center;
    padding: 1.3rem 0;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: #1c2a33;
    text-decoration: none;
  }
  .cross-navigator__contact-link a .apts-icon {
    display: block;
    line-height: 3rem;
  }
  .cross-navigator__contact-link .link-text {
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    margin-left: 1.2rem;
  }
  .cross-navigator__spcl-offer-link {
    text-decoration: none;
    color: #000000;
  }
}
@media screen and (min-width: 992px) and (hover: hover), (-ms-high-contrast:none) {
  .cross-navigator__contact-link:hover .arrow-icon {
    opacity: 1;
    left: 0.3rem;
  }
  .cross-navigator__contact-link:hover .btn-circular-with-icon {
    color: #ffffff;
    background-color: #f37120;
    border-color: #f37120;
    transition: all .35s;
  }
}
@media screen and (min-width: 1200px) {
  .cross-navigator .arrow-icon {
    font-size: 1.6rem;
  }
  .cross-navigator__contact-links {
    text-align: left;
    padding-top: 2.5rem;
    padding-bottom: 2.4rem;
  }
  .cross-navigator__availability {
    margin-top: 0.8rem;
  }
  .cross-navigator__btns-wrapper {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .cross-navigator__contact-link a {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media screen and (min-width: 1200px) and (hover: hover), (-ms-high-contrast:none) {
  .cross-navigator__contact-link:hover {
    background-color: #eeeff2;
  }
  .cross-navigator__contact-link:hover .arrow-icon {
    left: 1rem;
  }
}
@media screen and (min-width: 3300px) {
  .cross-navigator__contact-wrapper {
    border-radius: 1rem;
  }
}
